.Panel {
  padding: 1em;
}

.Panel label {
  display: block;
}

@media (min-width: 480px) {
  .App {
    display: flex;
  }

  .Panel {
    width: 300px;
    padding: 1em;
  }

  .App > canvas {
    flex: 1;
  }
}